.button.system,
.button.info,
.button.home,
.button.checkStation,
.button.share {
  border-radius: 5px;
  background-color: white;
  border: 1px solid #c5c5c5;
}

.button.system:hover,
.button.info:hover,
.button.home:hover,
.button.checkStation:hover,
.button.share:hover {
  border-radius: 5px;
  background-color: #d64a2b;
  border: 1px solid #c5c5c5;
}

.button.system.focus {
  background-color: #d64a2b;
  color: white;
}

.ButtonWrapper {
  background: #d64a2b;
  position: absolute;
  padding: 3px;
  z-index: 2;
  border-radius: 5px;
  margin-right: 0.3em;
}

.container .ButtonWrapper {
  position: relative;
  display: inline-block;
}

.button.system {
  font-size: 1.7em;
}

.button.info {
  font-size: 1.7em;
}

.button.checkStation,
.button.share {
  width: 2.7em;
  height: 2.7em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 85%;
}

.button.home {
  position: absolute;
  z-index: 2;
  top: 0.5em;
  left: 0.5em;
  width: 17em;
  height: 2.7em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url('../images/icons/logoIcon.png');
}

.button.checkStation {
  background-image: url('../images/icons/transmitter.png');
}

.button.share {
  background-image: url('../images/share.png');
}

.shareWrapper {
  right: 4em;
  bottom: 8.4em;
  position: absolute;
}

.infoWrapper {
  right: 4em;
  bottom: 4.6em;
  position: absolute;
}

.stationsWrapper {
  top: 7.3em;
  left: 0.5em;
  position: absolute;
}

.configurationWrapper {
  top: 7.6em;
  position: absolute;
}

.button.info {
  width: 1.55em;
  height: 1.55em;
}

SystemButton {
  position: relative;
}

@media screen and (max-width: 900px) {
  /* start of phone styles */
  .ButtonWrapper {
    padding: 3px;
  }

  .stationsWrapper {
    top: 7.1em;
  }

  .shareWrapper {
    right: 3.5em;
    bottom: 7.8em;
  }

  .infoWrapper {
    right: 3.5em;
  }
}

@media screen and (max-width: 370px) {
  /* start of phone styles */
  .stationsWrapper {
    top: 7.3em;
  }
}
